<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="IgnoreAssets" stopProcessing="true">
          <match url="^assets/.*$" />
          <action type="None" />
        </rule>
        <!-- Leitet / auf /Home um -->
        <rule name="RootToHomeRedirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/Home" redirectType="Permanent" />
        </rule>
        <rule name="HomeRewrite" stopProcessing="true">
          <match url="^(Home|home|HOME)$" />
          <action type="Rewrite" url="/pages/index.html" />
        </rule>
        <rule name="RezepteRewrite" stopProcessing="true">
          <match url="^(Rezepte|rezepte|REZEPTE)$" />
          <action type="Rewrite" url="/pages/rezepte.html" />
        </rule>
        <rule name="LexikonRewrite" stopProcessing="true">
          <match url="^(Lexikon|lexikon|LEXIKON)$" />
          <action type="Rewrite" url="/pages/lexikon.html" />
        </rule>
        <rule name="BlogRewrite" stopProcessing="true">
          <match url="^(Blog|blog|BLOG)$" />
          <action type="Rewrite" url="/pages/blog-s1.html" />
        </rule>
        <rule name="UeberUnsRewrite" stopProcessing="true">
          <match url="^(Ueber-uns|ueber-uns|UEBER-UNS)$" />
          <action type="Rewrite" url="/pages/ueber-uns.html" />
        </rule>
        <rule name="ImpressumRewrite" stopProcessing="true">
          <match url="^(Impressum|impressum|IMPRESSUM)$" />
          <action type="Rewrite" url="/pages/impressum.html" />
        </rule>
        <rule name="DatenschutzRewrite" stopProcessing="true">
          <match url="^(Datenschutz|datenschutz|DATENSCHUTZ)$" />
          <action type="Rewrite" url="/pages/datenschutz.html" />
        </rule>
        <rule name="CookiesRewrite" stopProcessing="true">
          <match url="^(Cookies|cookies|COOKIES)$" />
          <action type="Rewrite" url="/pages/cookies.html" />
        </rule>
        <rule name="KontaktRewrite" stopProcessing="true">
          <match url="^(Kontakt|kontakt|KONTAKT)$" />
          <action type="Rewrite" url="/pages/kontakt.html" />
        </rule>
        <rule name="BlogartikelRewrite" stopProcessing="true">
          <match url="^Blogartikel/([A-Za-z\-]+)$" />
          <action type="Rewrite" url="/pages/Blogartikel/{R:1}.html" />
        </rule>
        <rule name="RezepteArtikelRewrite" stopProcessing="true">
          <match url="^Rezepte/([A-Za-z\-]+)$" />
          <action type="Rewrite" url="/pages/rezepte/{R:1}.html" />
        </rule>
        <rule name="BlogS2Rewrite" stopProcessing="true">
          <match url="^(Blog-s2|blog-s2|BLOG-S2)$" />
          <action type="Rewrite" url="/pages/blog-s2.html" />
        </rule>
        <rule name="BlogS3Rewrite" stopProcessing="true">
          <match url="^(Blog-s3|blog-s3|BLOG-S3)$" />
          <action type="Rewrite" url="/pages/blog-s3.html" />
        </rule>
        <!-- Fallback: Alles andere auf Home -->
        <rule name="FallbackToHome" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/pages/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>