<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Home -->
        <rule name="HomeRewrite" stopProcessing="true">
          <match url="^(Home|home|HOME)$" />
          <action type="Rewrite" url="/pages/index.html" />
        </rule>
        <!-- Rezepte -->
        <rule name="RezepteRewrite" stopProcessing="true">
          <match url="^(Rezepte|rezepte|REZEPTE)$" />
          <action type="Rewrite" url="/pages/rezepte.html" />
        </rule>
        <!-- Lexikon -->
        <rule name="LexikonRewrite" stopProcessing="true">
          <match url="^(Lexikon|lexikon|LEXIKON)$" />
          <action type="Rewrite" url="/pages/lexikon.html" />
        </rule>
        <!-- Blog -->
        <rule name="BlogRewrite" stopProcessing="true">
          <match url="^(Blog|blog|BLOG)$" />
          <action type="Rewrite" url="/pages/blog-s1.html" />
        </rule>
        <!-- Über-uns / Ueber-uns -->
        <rule name="UeberUnsRewrite" stopProcessing="true">
          <match url="^(Über-uns|Ueber-uns|ueber-uns|UEBER-UNS)$" />
          <action type="Rewrite" url="/pages/über-uns.html" />
        </rule>
        <!-- Impressum -->
        <rule name="ImpressumRewrite" stopProcessing="true">
          <match url="^(Impressum|impressum|IMPRESSUM)$" />
          <action type="Rewrite" url="/pages/impressum.html" />
        </rule>
        <!-- Datenschutz -->
        <rule name="DatenschutzRewrite" stopProcessing="true">
          <match url="^(Datenschutz|datenschutz|DATENSCHUTZ)$" />
          <action type="Rewrite" url="/pages/datenschutz.html" />
        </rule>
        <!-- Cookies -->
        <rule name="CookiesRewrite" stopProcessing="true">
          <match url="^(Cookies|cookies|COOKIES)$" />
          <action type="Rewrite" url="/pages/cookies.html" />
        </rule>
        <!-- Kontakt -->
        <rule name="KontaktRewrite" stopProcessing="true">
          <match url="^(Kontakt|kontakt|KONTAKT)$" />
          <action type="Rewrite" url="/pages/kontakt.html" />
        </rule>
      </rules>
    </rewrite>
    <!-- Fehlerseite für 404 -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>